<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-element">welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="black-background">

  <div class="centered-element">
    <p class="text">Witaj w </p>
    <p class="text large-text">MeoWville</p>
    <ion-button shape="round" class="button centered-element" expand="full" (click)="navigateToHome()">Kontynuuj</ion-button>
    <ion-button shape="round" class="button centered-element" expand="full" (click)="navigateToTade()">Tade Page</ion-button>
  </div>

</ion-content>
