ion-content {
  --ion-background-color: #97416f;
}
.centered-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-col {
  text-align: center;
}
.button {
  width: 250px;
  height: 60px;
  --background: #93e9be;
  --color: rgb(199, 107, 33);
  font-family: Fantasy;
  font-weight: 900;
  font-size: 2rem;
}
.button:hover {
  --background: #75b997;
}
.text {
  font-size: 300%;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Cursive;
  font-weight: bold;
  color: #aea046;
}
.large-text {
  font-size: 400%;
}
